<div class="page-header">
  <h3>Restaurant #<%= @restaurant.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @restaurant.name %></dd>

      <dt>Address</dt>
      <dd><%= @restaurant.address %></dd>

      <dt>Description</dt>
      <dd><%= @restaurant.description %></dd>

      <dt>Website</dt>
      <dd><%= @restaurant.website %></dd>

      <dt>Yelp link</dt>
      <dd><%= @restaurant.yelp_link %></dd>

      <dt>Contributor</dt>
      <dd><%= @restaurant.contributor_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/restaurants" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @restaurant.contributor %>
        <a href="/restaurants/<%= @restaurant.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_restaurant/<%= @restaurant.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Restaurant has many date_nights -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Date Nights
      </li>

      <% @restaurant.date_nights.each do |date_night| %>
        <li class="list-group-item">
          <a href="/date_nights/<%= date_night.id %>">
            <%= date_night.date_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/date_nights/<%= date_night.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/date_nights/<%= date_night.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_date_night/<%= date_night.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_date_night" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for date_id -->
      <div class="form-group">
        <label for="date_id" class="control-label">
          Date
        </label>

        <%= select_tag(:date_id, options_from_collection_for_select(User.all, :id, :username), :class => "form-control") %>
      </div>

      <!-- Label and input for day -->
      <div class="form-group">
        <label for="day" class="control-label">
          Day
        </label>

        <input type="text" id="day" name="day" placeholder="Day" class="form-control" value="">
      </div>

      <!-- Label and input for meal_id -->
      <div class="form-group">
        <label for="meal_id" class="control-label">
          Meal
        </label>

        <%= select_tag(:meal_id, options_from_collection_for_select(Recipe.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for restaurant_id -->
      <input type="hidden" name="restaurant_id" value="<%= @restaurant.id %>">

      <!-- Label and input for activity_id -->
      <div class="form-group">
        <label for="activity_id" class="control-label">
          Activity
        </label>

        <%= select_tag(:activity_id, options_from_collection_for_select(Activity.all, :id, :name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Date Night
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
