<div class="page-header">
  <h3>Restaurant #<%= @restaurant.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @restaurant.name %></dd>

      <dt>Address</dt>
      <dd><%= @restaurant.address %></dd>

      <dt>Description</dt>
      <dd><%= @restaurant.description %></dd>

      <dt>Website</dt>
      <dd><%= @restaurant.website %></dd>

      <dt>Yelp link</dt>
      <dd><%= @restaurant.yelp_link %></dd>

      <dt>Contributor</dt>
      <dd><%= @restaurant.contributor_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/restaurants" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @restaurant.contributor %>
        <a href="/restaurants/<%= @restaurant.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_restaurant/<%= @restaurant.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Restaurant has many date_nights -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Date Nights
      </li>

      <% @restaurant.date_nights.each do |date_night| %>
        <li class="list-group-item">
          <a href="/date_nights/<%= date_night.id %>">
            <%= date_night.date_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/date_nights/<%= date_night.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/date_nights/<%= date_night.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_date_night/<%= date_night.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
