<div class="page-header">
  <h3>Activity #<%= @activity.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Location</dt>
      <dd><%= @activity.location %></dd>

      <dt>Name</dt>
      <dd><%= @activity.name %></dd>

      <dt>Description</dt>
      <dd><%= @activity.description %></dd>

      <dt>Website</dt>
      <dd><%= @activity.website %></dd>

      <dt>Yelp link</dt>
      <dd><%= @activity.yelp_link %></dd>

      <dt>Contributor</dt>
      <dd><%= @activity.contributor_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/activities" class="btn btn-primary">
        Back
      </a>
      <a href="/activities/<%= @activity.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_activity/<%= @activity.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
