<div class="page-header">
  <h3>Date Night #<%= @date_night.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @date_night.user.present? %>
          <a href="/users/<%= @date_night.user_id %>">
            <%= @date_night.user.username %>
          </a>
        <% end %>
      </dd>

      <dt>Date</dt>
      <dd>
        <% if @date_night.date.present? %>
          <a href="/users/<%= @date_night.date_id %>">
            <%= @date_night.date.username %>
          </a>
        <% end %>
      </dd>

      <dt>Day</dt>
      <dd><%= @date_night.day %></dd>

      <dt>Meal</dt>
      <dd>
        <% if @date_night.meal.present? %>
          <a href="/recipes/<%= @date_night.meal_id %>">
            <%= @date_night.meal.name %>
          </a>
        <% end %>
      </dd>

      <dt>Restaurant</dt>
      <dd>
        <% if @date_night.restaurant.present? %>
          <a href="/restaurants/<%= @date_night.restaurant_id %>">
            <%= @date_night.restaurant.name %>
          </a>
        <% end %>
      </dd>

      <dt>Activity</dt>
      <dd>
        <% if @date_night.activity.present? %>
          <a href="/activities/<%= @date_night.activity_id %>">
            <%= @date_night.activity.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/date_nights" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @date_night.user %>
        <a href="/date_nights/<%= @date_night.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_date_night/<%= @date_night.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
